.custom-card {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-header {
    background-color: #ced5dd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-body {
    padding: 20px;
}

.custom-footer {
    background-color: #F8F9FA;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}

.location-list {
    display: flex;
    flex-direction: column;
}

.location-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

